.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6.25rem 5rem 5rem;

    gap: var(--margin-el-lg);
    text-align: center;
    align-items: center;
}

.gamesContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    gap: 2.5rem 1.625rem;

}

@media screen and (max-width: 770px) {
    .gamesContainer {
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 1fr));
        gap: 2.5rem 1.625rem;
    }            
}

@media screen and (max-width: 550px) {
    .gamesContainer {
        display: grid;
        grid-template-columns: repeat(1, minmax(auto, 1fr));
        gap: 2.5rem 1.625rem;
    }            
}