.btn {
    font-family: Lexend; font-weight: 600; font-size: 16px; line-height: normal;
    border-radius: var(--r-pill); padding: 1rem 1.5rem; border: 1px solid transparent;
    display: inline-flex; align-items: center; gap: 0.5rem; cursor: pointer;
    transition: all 0.15s;
}

.btn.sm { padding: 0.5rem 1.5rem; font-size: 14px; gap: 0.25rem;}

.btn.vibrant { background: var(--c-orange); border-color: var(--c-orange); color: var(--text-colour-dark); }
.btn.vibrant:hover { background: var(--c-purple); border-color: var(--c-purple); }

.btn.outline { background: transparent; border-color: var(--c-orange); color: var(--text-colour-vibrant); }
.btn.outline:hover { background: var(--c-white); border-color: var(--c-white); color: var(--text-colour-dark); }

.btn.outlineLight { background: transparent; border-color: var(--c-white); color: var(--c-white); }
.btn.outlineLight:hover { background: var(--c-white); color: var(--text-colour-dark); }

.btn.link { background: transparent; border: 0; color: #EBA439; padding: 4px 0; font-weight: 700; font-size: 14px; }

.vibrant { background: #EBA439; border-color: #EBA439; color: #191C2E; }
.hover   { background: #C589F4; border-color: #C589F4; color: #191C2E; }
.out     { background: transparent; border-color: #EBA439; color: #EBA439; }
.dark    { background: #191C2E; color: #fff; border-color: #191C2E; }
.dark:hover {background: #C589F4; border-color: #C589F4; color: #191C2E;}
.disabled{ background: #D0D0D0; color: #191C2E; border-color: #D0D0D0; }
.link    { background: transparent; color: #EBA439; border: 0; padding: 4px 0; font-weight: 700; font-size: 14px; }

.icon::before {
    content:""; width: 16px; height: 16px;
    background-color: currentColor;
    -webkit-mask: var(--icon) no-repeat center / contain;
    mask: var(--icon) no-repeat center / contain;
}