.buttonSlim {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 0.5rem;

    background-color: var(--colour-text-secondary);
    border-radius: 44px;
    border: 1px solid;
    border-color: var(--colour-text-secondary);
    
    color: var(--colour-text-primary);
}
.buttonSlim::before {
    content: "";
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    display: block;

    background-color: var(--colour-text-primary);
    mask: var(--icon) no-repeat center;
    -webkit-mask: var(--icon) no-repeat center;
}

.buttonSlim:hover {
    background-color: #C589F4;
    border-color: #C589F4;
}