.gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0px, 79px) auto 5rem;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "content"
        "content";
    overflow: visible;

    background-color: #fff;
    border-radius: 0px 0px 0px 20px;

    color: var(--colour-text-primary);
    position: relative;

    transition: all 0.5s ease, clip-path 0.3s ease;
    gap: 2rem;

}

.exploreContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-left: var(--margin-el-md);
    padding-right: var(--margin-el-sm);

    gap: 40px;
}

.exploreHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gamesContainer {
    --hover-colour: var(--c-purple);
    --hover-colour-frame: var(--c-purple);
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, 300px), 1fr)
    );
    gap: clamp(1rem, 2vw, 1.5rem);
    width: 100%;
}

