    .gridContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(0px, 79px) auto;
        grid-template-columns: 0fr 1fr;
        grid-template-areas:
            "sidebar header"
            "sidebar content";
        overflow: visible;

        background-color: #fff;
        border-radius: 0px 0px 0px 20px;

        color: var(--colour-text-primary);
        position: relative;

        transition: all 0.5s ease, clip-path 0.3s ease;
    }


    .gridContainer:has(.sidebar) {
        grid-template-columns: minmax(0, 290px) 1fr;
        grid-template-rows: minmax(0px, 79px) auto 5rem;
        grid-template-areas:
            "sidebar header"
            "sidebar content"
            "sidebar content";
    }


    .gridContainer:has(.sidebar.collapsed) {
        grid-template-columns: minmax(0, 88px) 1fr;
        grid-template-rows: minmax(0px, 79px) auto 5rem;
        grid-template-areas:
            "sidebar header"
            "sidebar content"
            "sidebar content";
    }


    .sidebar {
        grid-row: span 2;
        grid-area: sidebar;
    }


    /* Style when there are no created instances */

    .noInstancesContainer {
        grid-area: content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        height: min-content;
        margin-top: var(--margin-el-nm);
    }

    .noInstancesContainer button::before {
        content: "";
        height: 20px;
        width: 20px;
        background: var(--icon) no-repeat center;
    }

    .noContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;

        margin-bottom: var(--margin-el-md);
    }

    .noContent p {
        opacity: 0.8;
    }


    /* Games list container */
    .gamesContainer {
        padding-top: var(--margin-el-sm);
        padding-left: var(--margin-el-md);
        padding-right: var(--margin-el-sm);

        /* background-color: white;*/

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5rem;

    }

    .gamesListHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .gamesGridContainer {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(0, 260px));
        gap: 20px;
    }

    .gamesListContainer {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .gamesListViewHeader {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 16px;
        gap: 12px;

        border-radius: 8px;
        background-color: var(--colour-text-primary);
        color: var(--colour-text-tertiary);
        width: 100%;
    }

    .gamesListViewHeader > :nth-child(1) {
        flex: 1;
        max-width: 68.022%;
    }

    .gamesListViewHeader > :nth-child(2) {
        width: 80px;
        text-align: center;
        margin: 0 1rem;
    }

    .gamesListViewHeader > :nth-child(3) {
        margin-right: auto;
    }

    /* Filter Container  */

    .gameFiltersContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        gap: 0.75rem;
    }

    .searchableContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        cursor: text;

        /* Grey */
        border-radius: 24px;
        gap: 0.5rem;

        padding-left: 0.5rem;
        position: relative;

        margin-right: auto;
    }

    .searchableContainer::before {
        content: "";
        position: absolute;
        inset: 0px;

        /* Grey */
        border-width: 1.5px;
        border-style: solid;
        border-color: #E2E3EB;
        border-radius: 24px;

        transition: all 0.5s ease;
    }

    .searchIcon {
        width: 16px;
        height: 16px;

        background-color: var(--colour-text-primary);
        mask: var(--icon) no-repeat center;
        -webkit-mask: var(--icon) no-repeat center;

        transition: all 0.5s ease;
    }

    .searchableContainer > input {
        outline: none;
        border: none;
        background: transparent;
        
        display: flex;
        align-items: center;
        padding: 0.5rem 0;

        font-family: Lexend;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 130%;
        color: var(--colour-text-primary);
    }

    .searchableContainer > input::placeholder {
        transition: opacity 1s;
        opacity: 0.6;
    }

    .searchableContainer:hover::before {
        border-width: 1.5px;
        border-style: solid;
        border-color: transparent;
        border-radius: 24px;
        background: linear-gradient(90deg,rgba(197, 137, 244, 1) 0%, rgba(235, 235, 235, 1) 50%, rgba(235, 235, 235, 1) 100%) border-box;
        mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        mask-composite: exclude;
        pointer-events: none;
    }
    

    .searchableContainer:hover .searchIcon {
        background-color: #C589F4;
    }

    .searchableContainer:focus-within::before {
        border-color: #EBA439;
    }

    .searchableContainer:focus-within .searchIcon  {
        background-color: #EBA439;
    }

    /* Hide native X */
    .searchableContainer input[type="search"]::-webkit-search-cancel-button {
        display: none;
    }

    .inputClearBtn {
        width: 16px;
        height: 16px;

        background-color: var(--colour-text-primary);
        mask: var(--icon) no-repeat center;
        -webkit-mask: var(--icon) no-repeat center;

        opacity: 0;
        flex-shrink: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }

    .inputClearBtn.visible {
        opacity: 1;
        pointer-events: all;
    }

    /* Grid / List View Toggle */
    .toggleView label::before, .toggleView label::after {
        content: "";
        position: absolute;
    }

    .toggleView {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: flex-start;
        padding: 0.25rem;
        gap: 2px;

        /* White */
        background: #FFFFFF;
        border: 1px solid rgba(25, 28, 46, 0.2);
        border-radius: 50px;

        position: relative;
    }

    .toggleView label {
        display: flex;
        flex-direction: row;
        position: relative;

        transition: all 0.3s ease;
        transform-origin: 20% center;

        align-items: center;
    }

    .viewIcon {
        width: 32px;
        height: 32px;
        background-color: var(--colour-text-primary);
        mask: var(--icon) no-repeat center;
        -webkit-mask: var(--icon) no-repeat center;
    }

    .toggleView input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;

        box-sizing: border-box;
        z-index: 1;
        cursor: pointer;
    }

    .toggleView label::before {
        display: block;
        transform: all 0.3s ease;
        border-radius: 2em;
        transform: 0.3s ease;

        border:none;
        width: 2em;
        height: 2em;
        background: #EBA439;
    }

    .toggleView input[type="checkbox"]:checked + label::before {
        left: 50%;
    }

    /* Sidebar menu */
    .sidebar {
        position: relative;

        background: #F3F4F4;
        padding: 0px 24px;
        border-radius: 0px 0px 0px 20px;
    }

    .sidebarCollapser {
        top: calc((79px - 1lh) / 2);
        position: absolute;
        right: 0;
        transform: translateX(50%) translateY(-25%);

        width: 40px;
        height: 40px;

        border-radius: 22px;
        background-color: var(--colour-text-tertiary);
        display: flex;
        justify-content: center;
        align-items: center;
        
        cursor: pointer;

        /*box-shadow: 1px 1px 4px #0c1e35;*/
    }

    .sidebarCollapser::after {
        content: "";
        width: 24px;
        height: 24px;

        transition: transform 0.5s ease;
        transform: rotate(180deg);

        display: block;
        background-color: var(--colour-text-primary);
        mask: var(--icon) no-repeat center;
        -webkit-mask: var(--icon) no-repeat center;
    }

    .sidebarHeader {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .sidebarHeader > p {
        padding-top: calc((79px - 1lh) / 2);
        margin-bottom: 20px;
        opacity: 1;
        transition: opacity 0.5s ease;
        white-space: nowrap;
        text-overflow: clip;
    }
    
    .sidebarHeader button {
        width: 100%;
    }
    .sidebarHeader .buttonSlim::before {
        transform: rotate(45);
    }

    .sidebarHeader label {
        width: 100%;
    }

    .sidebarGamesContainer {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
    }

    .sidebarGame {
        display: flex;
        flex-direction: row;
        align-items: center;

        border-radius: 8px;

        border: none;
        background-color: transparent;
        position: relative;
        width: 100%;
    }

    .sidebarGame input {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 8px;

        opacity: 0;
    }

    .sidebarGame label {
        box-sizing: border-box;
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 8px;

        padding: 12px;
        gap: 10px;

        align-items: center;
        flex-shrink: 0;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently*/
    }

    .sidebar label span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    .sidebarGame label::before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        

        background-color: var(--colour-text-primary);
        mask: var(--icon) no-repeat center;
        -webkit-mask: var(--icon) no-repeat center;
    }

    .sidebar.collapsed {
        padding: 0 1rem;
    }

    .sidebar.collapsed .sidebarCollapser::after {
        transform: rotate(0deg);
    }

    .sidebar.collapsed .sidebarHeader {
        gap: 1rem;
        padding: 0 0.25rem;
    }

    .sidebarGame:hover {
        background-color: #DADADA;
    }

    .sidebarGame input[type="radio"]:checked + label {
        background-color: #E0E0E0;
    }

    .sidebar.collapsed .sidebarHeader > p {
        opacity: 0;
        width: 0;
        height: 0;
        overflow: hidden;
        transition: opacity 0.3s ease;
    }

    .sidebar.collapsed .sidebarHeader button  {
        gap: 0;
        height: 48px;
    }

    .sidebar.collapsed .sidebarHeader button > p {
        opacity: 0;
        overflow: hidden;
        height: 0;
    }

    .sidebar.collapsed .sidebarHeader .searchableContainer {
        gap: 0;
        height: 48px;
        box-sizing: border-box;
        width: 100%;

        justify-content: center;
        padding: 0;
        cursor: pointer;
    }

    .sidebar.collapsed .sidebarHeader .searchableContainer > input {
        opacity: 0;
        overflow: hidden;
        height: 0;
        width: 0;
    }

    .sidebar.collapsed .sidebarGame > label {
        gap: 0;
        justify-content: center;
    }

    .sidebar.collapsed .sidebarGame label > * {
        opacity: 0;
        width: 0;
        height: 0;
    }