.container {
    width: min(100% - 2rem, 96rem); /* 1536px */
    margin-inline: auto;

    /* padding: 0 7.5rem; */
    padding: var(--padding-outer-sides) var(--padding-outer-sides);
    box-sizing: border-box;

    display: flex;
    gap: 3rem;
}

.card {
    width: 100%;
    border-radius: var(--r-pill); padding: var(--padding-sm);
    display: flex; flex-direction: row; justify-content: space-between; align-items: center;
    gap: 4rem;

    position: relative;

    background: var(--c-cream-grey);
    color: var(--colour-text-primary);
    mask: var(--noise-url) no-repeat 50% 50%;
    overflow: hidden;
}

.card > .content {
    display: flex; flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    max-width: 33%;
    z-index: 1;
}

.card > label {
    max-width: 600;
    width: 100%;

    z-index: 1;
}

.card input {
    width: 100%;
}

::placeholder {
    font-family: Lexend;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 130%;

    color: var(--colour-text-primary);
}

.submitBtn {
    width: 50px; height: 50px;
    border: 1px solid transparent;
    background: transparent;
    display: inline-flex; align-items: center; justify-content: center; gap: 0.5rem; cursor: pointer;
}

.submitBtn::before {
    content: ""; width: 24px; height: 24px;

    background-color: var(--text-colour-dark);
    mask: var(--icon) no-repeat center;
    -webkit-mask: var(--icon) no-repeat center;
}

.submitBtn:hover::before {
    background-color: var(--text-colour-vibrant);
}

.card > label:focus-within {
    background: linear-gradient(white, white) padding-box,
                var(--c-orange) border-box;
}

.submitBtn:focus-within::before {
    background-color: var(--c-green-bright);
}

.card > svg {
    position: absolute;
    top: 2%;
    right: calc(var(--padding-sm) + 26px); /* Align with submit button, card padding + label padding (16px) half button size (26px)  */
    transform: translateY(-50%) translateX(50%) rotate(-45deg);

    
}