.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
}

.logoIcon {
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
}

.menuItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 75%;
    aspect-ratio: 8/7;

    border-radius: 8px;
    position: relative;
}

.menuItem > .backgroundColour {
    position: absolute;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    transition: all 0.15s;
}

.menuItem input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.menuItem label {
    background-color: white;
    -webkit-mask: var(--gamesIconUrl) no-repeat center;
    mask: var(--gamesIconUrl) no-repeat center;

    width: 100%;
    height: 100%;
    transition: all 0.15s;
}

.menuItem input:checked ~ label {
    background-color: #EBA439;
}

.menuItem input:checked ~ .backgroundColour {
    background: rgba(147, 107, 52, 0.2);
}