:root {
    --max-width: 1440px;

    --padding-sm: 5rem;
    --padding-md: 7.5rem;
    --padding-lg: 10 rem;

    --padding-outer-sides: 7.5rem;
    --padding-outer-tops: 1.75rem;

    --space-sm: 1rem;
    --space-md: 1.875rem;

    --colour-text-primary: #191C2E;
    --colour-text-secondary: #EBA439;
    --colour-text-tertiary: #ffffff;

    --colour-filterBtn: #F3F4F4;
    --colour-filterBtn-border: #E2E3EB;


    --margin-text-sm: 1rem;
    --margin-text-nm: 1.5rem;
    --margin-text-md: 2rem;
    --margin-text-lg: 2.5rem;

    --margin-el-sm: 2rem;
    --margin-el-nm: 2.5rem;
    --margin-el-md: 3rem;
    --margin-el-lg: 3.5rem;
}
