.header {
    width: min(100% - 2rem, 96rem); /* 1536px */
    margin-inline: auto;
    position: sticky; top: 0; z-index: 50;
    display: flex; align-items: center; justify-content: space-between;
    padding: 1.75rem var(--padding-sm); /* 28px 120px */
    /*background: rgba(25, 28, 46, 0.85); */
    backdrop-filter: blur(20px);
    border-radius: 0 0 var(--r-card) var(--r-card);
    box-sizing: border-box;

    color: var(--c-white);
}

.logo {
    text-decoration: none; color: inherit;
    display: flex; align-items: center; flex-direction: row;
    gap: 1rem;
}

.logo span {
    width: 94px;
    height: 26px;

    font-family: var(--font-family-base);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
}

.logo svg { max-width: 32px; max-height: 32px; }

.header nav {
    display: flex;
    max-width: 400px;
    width: 100%;
    justify-content: space-between;
    margin: 0rem 2rem;
}

.header nav a {
  color: var(--text-colour-light);
  cursor: pointer;
}

.header nav a:hover { color: var(--text-colour-vibrant); opacity: 1; }

.header .actions { display: flex; gap: 1rem; }