.container {
    width: 100%;

    align-items: center;
    align-content: center;
}

.content {
    width: min(100% - 2rem, 96rem); /* 1536px */
    margin-inline: auto;

    /* padding: 0 7.5rem; */
    padding: 7.5rem var(--padding-sm); box-sizing: border-box;

    color: var(--text-colour-light); text-align: center;
    display: flex; flex-direction: column; gap: 48px;
}

.steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.step {
    display: flex; flex-direction: column; align-items: center;
    padding: 4rem 1.75rem; gap: 40px;
    box-sizing: border-box;

    border-radius: var(--r-card); border: 1px solid transparent;
    background: linear-gradient(180deg, #191C2E 0%, #191F3E 100%) padding-box,
                linear-gradient(0deg, #EBA439 40%, #EBA439 100%) border-box;
}

.step div {
    display: flex; flex-direction: column;
    gap: 20px;
}