.container {
    width: min(100% - 2rem, 96rem); /* 1536px */
    margin-inline: auto;
    position: relative;

    /* padding: 0 7.5rem; */
    padding: 7.5rem var(--padding-sm); box-sizing: border-box;
    display: flex; flex-direction: column; align-items: center;
}

.cta {
    display: flex; flex-direction: column; align-items: center;
    padding: 2.8125rem 0rem;

    gap: var(--margin-el-sm);
}

.cta > .content {
    display: flex; flex-direction: column; align-items: center;
    gap: var(--margin-text-sm);

    text-align: center;
    max-width: 80%;
}

.cta > .buttons {
    display: flex; flex-direction: row; align-items: flex-start;
    gap: 1.25rem;
}

.imgWrapper {
    transform: translateY(-20%);
    display: flex; justify-content: center;
    padding-top: 5rem;
    width: 100%;
}

.imgWrapper::before {
    content: "";
    position: absolute;

    width: 100%;
    height: 100%;

    left: 50%;
    top: 50%;

    background: radial-gradient(
      ellipse 500px 250px at 50% 60%,
      rgba(9, 78, 255, 0.5),
      transparent 70%
    ),

    radial-gradient(
      ellipse 400px 300px at 65% 55%,
      rgba(9, 78, 255, 0.5),
      transparent 70%
    ),

    radial-gradient(
      ellipse 450px 200px at 35% 65%,
      rgba(9, 78, 255, 0.5),
      transparent 75%
    ),

    radial-gradient(
      ellipse 350px 180px at 55% 75%,
      rgba(9, 78, 255, 0.5),
      transparent 80%
    );

    z-index: 2;
    pointer-events: none;
}