    .gameCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 0.75rem;
        gap: 0.75rem;

        position: relative;
        text-decoration: none;
        color: var(--colour-text-primary);
    }

    .imageWrapper {
        width: 100%;
        aspect-ratio: 13/10;
        border-radius: 8px;

        padding: 0;
        margin: 0;

        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #1F1E1E 100%), var(--backgroundImg) no-repeat center;
        background-size: cover;

        position: relative;
    }

    .imageWrapper :nth-child(3) {
        padding-bottom: 1rem;
        padding-left: 1rem;
        color: var(--colour-text-tertiary);

        position: absolute;
        bottom: 0;
        left: 0;
    }

    .gameCard:hover .imageWrapper {
        border: 3px solid #C589F4;
    }

    /*.imageWrapper img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    .gameCard:hover img {
        border: 3px solid #C589F4;
    }*/

    .textWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 0.5rem;
        gap: 2px;
        width: 100%;

        cursor: pointer;
    }

    .gamecardInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .gamecardInfo details {
        width: 22px;
        height: 22px;

        border: none;
        z-index: 10;
    }

    .metaText {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 120%;
        opacity: 0.6;

    }

    .statusContainer {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
        margin-top: 1rem;
        padding: 0.25rem 0.5rem;
        gap: 6px;

        color: var(--colour-text-tertiary);

        background: rgba(25, 28, 46, 0.75);
        border: 1px solid rgba(25, 28, 46, 0.45);
        box-shadow: 0 0 0 rgba(137, 137, 137, 0); /* no glow */
        border-radius: 16px;

        position: absolute;
        top: 0;
        left: 0;
    }

    .statusContainer.active {
        border: 1px solid rgba(55, 217, 26, 0.45);
        backdrop-filter: blur(2px);
        box-shadow:
            0 0 6px rgba(128, 247, 51, 0.8),
            0 0 12px rgba(128, 247, 51, 0.5),
            0 0 18px rgba(128, 247, 51, 0.3);
    }

    .statusIndicator {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #898989;
        box-shadow: 0 0 0 rgba(137, 137, 137, 0); /* no glow */
        transition: box-shadow 300ms ease;
    }

    .statusIndicator.active {
        width: 10px;
        height: 10px;
        background: #80F733;
        border-radius: 50%;
        box-shadow:
            0 0 6px rgba(128, 247, 51, 0.8),
            0 0 12px rgba(128, 247, 51, 0.5),
            0 0 18px rgba(128, 247, 51, 0.3);
    }

    /* Toggle Switch */

    .toggleContainer label::before, .toggleContainer label::after {
        content: "";
        position: absolute;
    }

    .toggleContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 1rem;
        margin-right: 1rem;

        z-index: 50;
    }

    .toggleContainer input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;

        box-sizing: border-box;
        z-index: 5;

        cursor: pointer;
    }

    .toggleContainer label {
        width: 50px;
        height: 22px;
        display: flex;
        position: relative;

        transition: all 0.3s ease;
        transform-origin: 20% center;
        cursor: pointer;

        background: #D1D5DB;
        border: 0.5px solid rgba(117, 117, 117, 0.31);
        box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.2), 0 -3px 4px rgba(0, 0, 0, 0.15);

        border-radius: 30px;

        align-items: center;
        justify-content: space-between;
    }

    .toggleContainer label :nth-child(1) {
        position: relative;
        opacity: 0;
        transition: all 0.15s ease;
        margin-left: 0.5rem;
    }

    .toggleContainer label :nth-child(2) {
        position: relative;
        margin-right: 0.5rem;
        transition: all 0.15s ease;
    }



    .toggleContainer label::before {
        display: block;
        transition: all 0.2s ease;
        border-radius: 2em;
        top: 0.125rem;
        left: 2px;
        border: 2px solid #88cf8f;
        transition: 0.3s ease;

        border: none;
        width: 18px;
        height: 18px;
        background: #fff;
        transform: rotate(-40deg);
    }

    .toggleContainer input[type="checkbox"]:checked + label {
        background: #EBA439;
    }

    .toggleContainer input[type="checkbox"]:checked + label :nth-child(1) {
        opacity: 1;
    }

    .toggleContainer input[type="checkbox"]:checked + label :nth-child(2) {
        opacity: 0;
    }

    .toggleContainer input[type="checkbox"]:checked + label::before {
        left: 30px;
    }

    /* List View */
    .instanceList {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 16px;
        gap: 12px;

        border-radius: 8px;
        background-color: var(--colour);
        width: 100%;
    }

    .instanceList > :first-child {
        flex: 1;
        max-width: 70%;
    }

    .instanceStatusList {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.25rem 0.5rem;
        max-width: 130px;

        background: #80F733;
        border: 1px solid rgba(55, 217, 26, 0.45);
        border-radius: 16px;

        margin: 0 1rem;
    }

    .instanceList > .toggleContainer {
        margin: 0 1rem;
        position: relative;
    }

    .instanceList button {
        width: 22px;
        height: 22px;
        background: var(--icon) no-repeat center;
        border: none;
    }

    .instanceList details {
        width: 22px;
        height: 22px;

        border: none;
        z-index: 10;
    }
