.instanceConfigSettings {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 1rem;
    width: 100%;
}

.instanceConfigSettings > button {
    justify-self: end;
}